.lg-outer{
    transition: background-color 600ms ease 0s;
}

.center {
text-align: center;
float:center;
position: relative;	
}

.item {
    overflow: hidden;
}
.item img {
    display: block;
    width: 100%;
    object-fit:cover;
	-o-object-fit:cover;
}

.item img {
    margin-bottom:20px;
}

.alert-blk {
	position: relative;
	padding: 5px 5px;
}

.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.alert a {color: gold;}



#gallery { list-style:none; }

#gallery ul {
	margin: 0;
	padding: 0;
	text-align: right;
}


#gallery li { 
    float:left; 
    display:block; 
    margin:5px 20px 5px -10px; 
    display:block; 
}


#gallery li p {  
    padding:0px; 
    margin:0;
 }

#gallery li a { 
    display:block; 
    color:#fff; 
    padding:0; 
    text-decoration:none;  
}
 
#gallery img {
	 
    width:205px; 
    height:auto; 
    margin:0; 
    padding:0;transform: scale(1.1); 
}

#gallery img:hover {
	 
    transform: scale(1.0);
transition: all 0.5s ease;
}

.preloader { background:url(/bitrix/templates/institut/img/89.gif) center center no-repeat #ffffff;  }