.doska{
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.thumbnail {
    flex-basis: calc(33.33% - 15px);
}
@media only screen and (max-width : 992px) {
    .thumbnail {
       flex-basis: calc(50% - 15px);
    }
}
@media only screen and (max-width : 768px) {
     .thumbnail {
       flex-basis: calc(100% - 15px * 2/3);
    }
}