.thumbnail {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:10px;
  min-height:340px;
}
.thumbnail:hover{
	border-color: rgba(29, 133, 112, 0.56)
}